@font-face {
  font-family: 'PT_Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}

header > ul {
  font-family: "PT_Sans", sans-serif;
}

img {
  border: double;
  display: inline;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

#contact img {
  border: none;
  width: 1.5em;
 -webkit-filter: invert(95%);
 filter: invert(95%);
}

i:before {
  font-size: 300%;
  height: auto;
  background: transparent;
  opacity: .7;
  width: 100%;
}

i {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  font-family: 'PT_Sans', sans-serif;
}

/*clearfix*/
.group:after {
  clear: both;
  content: "";
  display: block;
}

/*Sidebar*/

#header {
  width: 80%;
  top: 0;
  position: fixed;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  text-align: center;
  align-items: baseline;
  margin: 0 10%;
  z-index: 2;
  border-bottom:  1px rgba(145, 145, 145, 1) solid;
  background-color: rgb(28, 28, 28);
}

#header > * {
  padding: 0 2%;
}

#header > h1 {
  padding: 0 2% 0 0;
}

#header li {
  display: inline;
  width: auto;
  margin: 0 10%;
  font-size: 100%;
}


/*Main*/
#main {
  position: absolute;
  left: 0;
  width: 80%;
  margin: 0 10%;
  max-width: 1300px;
}

#projects article:not(:nth-child(2)) {
  padding: 50px 0 0 0;
}

#projects h2:first-child {
  font-size: 200%;
}

#main h2 {
  font-size: 150%;
  margin: 0;
  white-space: nowrap;
  width: 50%;
}

article > h2 {
  text-align: center;
}

article > a {
  float: left;
  width: 50%;
  padding: 0 10px 0 0;
}

article > div {
  float: right;
  width: 50%;
  padding: 0 0 0 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 0 0 0;
}

.skill-icon {
  -webkit-filter: grayscale(95%);
  filter: grayscale(95%);
}


.gallery > li {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
  width: 100px;
  height: auto;
}

.gallery p {
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  #header li {
    margin: 0 5%;
  }

  .gallery > li {
    width: 16%;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 10px;
    line-height: 20px;
  }
}

@media (max-width: 600px) {
  article > h2 > a {
    float: none;
    padding: 0;
  }

  article > a {
    display: block;
    width: 100%;
    padding: 0;
  }
  article > div {
    float: left;
    width: 100%;
  }

  .inner {
    padding: 0;
  }

  #projects {
    padding: 0;
  }

  #header {
    flex-flow: column;
  }

  #header > * {
    padding: 0;
  }

  #header li:first-child {
    margin: 0 10% 0 0;
  }
}
