@font-face {
  font-family: 'PT_Sans';
  src: url('../fonts/PT_Sans/PT_Sans-Web-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/AlegreyaSansSC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.topborder {
  top: 0;
  width: 100%;
  height: 5%;
}

.bottom {
  bottom: 0;
  width: 100%;
  height: 5%;
}

.border {
  position: fixed;
  z-index: 2;
  background-color: white;
}

.left {
  width: 2.5%;
  height: 100%;
  left: 0;
}

.right {
  width: 2.5%;
  height: 100%;
  right: 0;
}

@media (orientation: portrait) {
  .left, .right {
    width: 5%;
  }

  .top, .bottom {
    height: 2.5%;
  }
}

.containerall {
  position: relative;
  z-index: 1;
  border-left: 30px solid white;
  border-right: 30px solid white;
}

img {
  border: inset;
  background: rgba(171, 169, 167, 1);
  display: inline;
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

i:before {
  font-size: 400%;
  display: inline;
  height: auto;
  background: transparent;
  color: rgba(43, 42, 42, 1);
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
  opacity: .7;
  margin-left: 26px;
}

button:hover{
  cursor: pointer;
}

p {
  font-family: 'PT_Sans', sans-serif;
  font-size: 166%;

}

/*clearfix*/
.group:after {
  clear: both;
  content: "";
  display: block;
}

/*Sidebar*/
#header {
  position: fixed;
  float: left;
  width: 30%;
  top: 0;

  color: rgba(77, 75, 75, 1);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
#header > header {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  text-align: center;
    padding-left: 20px;
}

h1 {
  font-weight: bold;
  font-size: 400%;
  color: rgba(77, 75, 75, 1);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  line-height: 160%;
}


#header li {
  display: inline;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
  font-size: 200%;
}


/*Main*/
#main {
  position: absolute;
  display: inline;
  left: 30%;
  width: 70%;
  padding: 0 50px;
  max-width: 1200px;
  /*text-transform: lowercase;*/

}

#projects article:not(:nth-child(2)) {
  padding: 50px 0 0 0;
}

h2 {
  font-weight: bold;
  font-size: 200%;
  margin: 0;
}

#header h2 {
  padding-bottom: 30px;
}

article > a {
  float: left;
  width: 50%;
  padding: 0 10px 0 0;
}

article > div {
  float: right;
  width: 50%;
  padding: 0 0 0 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

.skill-icon {
  -webkit-filter: grayscale(95%); /* Safari 6.0 - 9.0 */
  filter: grayscale(95%);
}


.gallery > li {
  margin: 0px 20px 20px 0;
  width: 100px;
  height: auto;
  display: inline-block;

}

.gallery p {
  font-size: 166%;
  text-align: center;
}

strong {
  color: rgba(142, 125, 17, 0.9);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
  body {
    font-size: 6px;
    line-height: 15px;
  }

  #main {
      padding: 0 10px 0 50px;
  }
}

@media (max-width: 600px) {
  .image {
    display: none;
    width: 0px;
  }
  article > div {
    float: left;
    width: 100%;
  }

  .inner {
    padding: 0;
  }

  #projects {
    padding: 0;
  }
}
