@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-weight: inherit;
  z-index: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 160%;
}

h4 {
  margin: 0;
}

canvas {
  position: fixed;
  bottom: 0;
}
a {
  transition: color 0.5s ease;
}
a:hover {
  color: rgb(120, 120, 120);
}

body {
  font-family: 'Cormorant', sans-serif;
  font-weight: normal;
  box-sizing: content-box;
  color: rgba(230, 230, 230, 1);
  font-size: 16px;
  line-height: 32px;
  position: relative;
  box-sizing: border-box;
}

/*clearfix*/
.group:after {
  clear: both;
  content: "";
  display: block;
}
